.title-cell-group{
  &__bd {
      font-size: 22px !important;
      // color: rgb(51, 97, 197) !important;
      text-align: center;
      font-family: "YouYuan";
      font-weight: 1000;
      margin-top: 10px;
  }
}

.cell-group {
  &__hd {
      margin-top: 15px;
      text-align: center;
      font-size: 20px !important;
      color: rgb(111, 145, 209) !important;
  }

  &__bd {
    border:5px solid rgb(10, 196, 253) !important;
    border-radius:10px;;
    background-color:#fff;
    margin:0 25px;
  }
}